#cardsWrap {
	width: 76%;
	margin: 0;
	padding-bottom: 100px;
	padding: 50px 12% 60px 12%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 55px;
	perspective: 1500px;
}

@media (max-width: 600px) {
	#cardsWrap {
		width: 92%;
		padding: 35px 4% 60px 4%;
		gap: 40px;
	}
}
