.item {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 8px;
	position: absolute;
	right: 2px;
	opacity: 1;
	z-index: 1;
	transition:
		opacity 0.4s ease-in,
		top 0.3s ease-out;
}

:global(.reducedAnimations) .item {
	transition: none;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.hidden > p {
	display: none;
}

.item > p {
	margin: 0;
	text-wrap: nowrap;
	font-size: 0.9em;
	height: 36px;
	line-height: 36px;
	color: var(--gray-color);
	transition: color 0.5s;
}

.item > button {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: var(--theme-green-color);
	color: var(--light-gray-color);
	border: 0;
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.2);
	transition:
		background-color 0.5s,
		color 0.5s;
}

.item > button:hover {
	color: var(--white-color);
	background-color: var(--theme-light-green-color);
}

.item > button:hover + p {
	color: var(--light-gray-color);
}
