#settingsMenu {
}

#settingsMenu > button {
	display: block;
	margin: 0 0 0 auto;
}

#settingsMenu > button:hover {
	color: var(--white-color);
	background-color: var(--light-green-color);
}

.collapsible {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	gap: 10px;
}

.collapsibleHidden {
	display: none;
}

.settingsItem {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
}

.settingsButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--green-color);
	color: var(--light-gray-color);
	border: 0;
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	line-height: 42px;
	box-shadow: 2px 3px 9px 0 rgba(0, 0, 0, 0.2);
	transition: background-color 0.5s, color 0.5s;
	position: relative;
}
