:root {
	--light-green-color: #6a915d;
	--green-color: #546e43;
	--dark-green-color: #3d5031;
	--light-gray-color: #eaeaea;
	--gray-color: #cacaca;
	--dark-gray-color: #2c2c2c;
	--white-color: rgb(248, 248, 248);
	--black-color: rgb(15, 15, 15);
	--shadow-color: rgba(0, 0, 0, 0.3);
	--highlight-color: #ffffff28;

	--dark-mode-light-green-color: #597449;
	--dark-mode-green-color: #546e43;
	--dark-mode-dark-green-color: #304027;
	--dark-mode-light-gray-color: #08080f;
	--dark-mode-gray-color: #21212f;
	--dark-mode-dark-gray-color: #1a1a1a;
	--dark-mode-white-color: rgb(220, 220, 220);
	--dark-mode-black-color: rgb(205, 203, 214);
	--dark-mode-shadow-color: rgba(100, 100, 100, 0.3);
	--dark-mode-highlight-color: #8585a228;

	--theme-light-green-color: var(--light-green-color);
	--theme-green-color: var(--green-color);
	--theme-dark-green-color: var(--dark-green-color);
	--theme-light-gray-color: var(--light-gray-color);
	--theme-gray-color: var(--gray-color);
	--dark-gray-color: var(--dark-gray-color);
	--theme-white-color: var(--white-color);
	--theme-black-color: var(--black-color);
	--theme-shadow-color: var(--shadow-color);
	--theme-highlight-color: var(--highlight-color);
}

body {
	background-color: var(--theme-light-gray-color);
	color: var(--theme-black-color);
	font-size: 1rem;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	min-height: 100vh;
}
