@font-face {
	font-family: "Montserrat";
	src: url("/dependencies/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	height: 100%;
}
#sketch-wrap {
	position: relative;
	margin: 0;
	padding: 0 0 0 0;
	width: 600px;
	height: 500px;
	border: 5px solid #3a5032;
	border-radius: 4px;
	background-color: #3a5032;
}
#myCanvas {
	background: radial-gradient(#e0e2e4, #c2c6cc);
}
#controls {
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	margin: 15px 0 0 0px;
	width: 610px;
	justify-content: space-around;
}
#controls-list {
	display: block;
	font-size: 20px;
	font-family: "Montserrat", serif;
	line-height: 10px;
	text-align: center;
}
#controls-buttons-wrapper {
	width: 200px;
	display: flex;
	flex-direction: column;
}
#controls-binding-wrapper {
	width: 200px;
	display: flex;
	flex-direction: column;
}
.binding-wrapper {
	width: 100%;
	height: 50px;
	line-height: 8px;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-between;
}
.binding {
	background-color: #d6d6d6;
	font-size: 16px;
	width: 60px;
	height: 30px;
	line-height: 30px;
	border: none;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	padding: 0 0 0 0;
	cursor: pointer;
	transition: 0.5s;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	outline: none;
}
.binding:hover {
	background-color: #c2c2c2;
}
.controls-text {
	font-size: 14px;
}
#default-bindings-button {
	width: 100%;
	margin: 5px 0 5px 0;
	height: 40px;
}
#controls-buttons-label {
	display: block;
	font-size: 16px;
	font-family: "Montserrat", serif;
	line-height: 18px;
	text-align: center;
	margin: 8px 0 10px 0;
	width: 100%;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#controls-binding-label {
	display: block;
	font-size: 20px;
	font-family: "Montserrat", serif;
	line-height: 22px;
	text-align: center;
	margin: 8px 0 10px 0;
}
#controls-buttons {
	display: grid;
	height: 120px;
	grid-template-columns: 60px 60px 60px;
	grid-template-rows: 60px 60px;
	margin: 0 auto 20px auto;
}
.controls-button {
	width: 50px;
	height: 50px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Montserrat", serif;
	line-height: 30px;
	text-align: center;
	margin: 5px 5px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: #d6d6d6;
	cursor: pointer;
	transition: 0.5s;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.controls-button:hover {
	background-color: #c2c2c2;
}
#slider-wrapper {
	width: 85%;
	margin: 5px auto 0 auto;
	padding: 0 0 0 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
#slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	background: #d6d6d6;
	outline: none;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-radius: 4px;
	border: none;
}
#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 25px;
	background: #eb4646;
	border-radius: 3px;
	cursor: pointer;
	border: none;
}

#slider::-moz-range-thumb {
	width: 15px;
	height: 25px;
	border-radius: 3px;
	background: #eb4646;
	cursor: pointer;
	border: none;
}
.button {
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid #9c9c9c;
	background-color: #f2f2f2;
	color: #616161;
	outline: none;
	z-index: 2;
	position: absolute;
	width: 36px;
	height: 36px;
	line-height: 20px;
	text-align: center;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 20px;
	font-weight: bold;
	transition: 0.3s;
}
.button:hover {
	color: #383838;
	background-color: #e8e8e8;
}
#home-button {
	bottom: 10px;
	right: 10px;
	font-size: 18px;
}
#zoom-in-button {
	right: 10px;
	bottom: 89px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
#zoom-out-button {
	right: 10px;
	bottom: 55px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#trash-button {
	left: 10px;
	bottom: 10px;
	font-size: 18px;
}
#eye-button {
	left: 10px;
	bottom: 55px;
}
#memory-label {
	color: black;
	font-family: monospace;
	font-size: 16px;
	text-align: left;
	position: absolute;
	top: 5px;
	right: 0;
	line-height: 20px;
	height: 20px;
	width: 110px;
	margin: 0 0 0 0;
}
