#textWrap {
	width: 50%;
	min-width: 700px;
	margin: 0;
	padding: 40px 0 90px 0;
	display: block;
}

#textWrap > p {
	font-size: 1.1em;
	line-height: 1.5em;
	text-indent: 2em;
	margin: 1.2em 0;
}

#textWrap a {
	color: var(--theme-link-color);
}

#textWrap a:hover {
	text-decoration: none;
}

#textWrap a:visited {
	color: var(--theme-visited-link-color);
}

#textWrap ul {
	margin: 0 15px;
	line-height: 1.8em;
	font-size: 1.2em;
}

#textWrap li::marker {
	color: var(--theme-black-color);
}

#titleWrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
}

#titleWrap > h1 {
	font-weight: bold;
	font-size: 2.2em;
	margin: 0;
}

#titleWrap > p {
	margin: 0;
	font-size: 1.2em;
	opacity: 0.8;
}
